[include]
path = ~/.config/delta/delta.gitconfig

[user]
name = Juan David Merchan Torres
email = juan1014166@gmail.com

[core]
editor = nvim
excludesFile = ~/.config/git/ignore

[init]
defaultBranch = main

[pull]
rebase = false

[fetch]
prune = true

[push]
autoSetupRemote = true
