" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" sync Vim clipboard with OS clipboard
set clipboard^=unnamed,unnamedplus

" smart line joining
set ideajoin

" Don't use Ex mode, use Q for formatting.
map Q gq

" Yank until the end
map Y y$

" leader key
let mapleader = ' '

" open config
noremap <leader>ce :edit ~/.ideavimrc<cr>

" source config
noremap <leader>cs :source ~/.ideavimrc<cr>:nohlsearch<cr>

" Code Action
map gra <Action>(ShowIntentionActions)

" Format Code
map grf <Action>(ReformatCode)
" Rename
map grn <Action>(RenameElement)
" Find File
map <Leader>. <Action>(SearchEverywhere)
map <Leader>ff <Action>(SearchEverywhere)

"
" Hybrid mode

" Go to first character
inoremap <C-a> <Esc>I
cnoremap <C-a> <Home>
" Go left
inoremap <C-b> <Left>
" Delete character
inoremap <C-d> <Del>
" Go to end of line
inoremap <C-e> <Esc>A
cnoremap <C-e> <End>
" Go right
inoremap <C-f> <Right>
" Unbind C-g
noremap <C-g> <Esc>
inoremap <C-g> <Nop>
" Delete to line end
inoremap <C-k> <Esc>:action EditorDeleteToLineEnd<CR>a
" Go down
inoremap <C-n> <Down>
" Go up
inoremap <C-p> <Up>
" Go to previous word
inoremap <A-b> <Esc>:action EditorPreviousWord<CR>i
" Go to next word
inoremap <A-f> <Esc>:action EditorNextWord<CR>a

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
