# override
add_highlight_with_current_type H
delete_highlight                <C-d>
move_visual_mark_down           j
move_visual_mark_up             k
screen_down                     d
screen_up                       u
zoom_in                         J
zoom_out                        K


# macros
_export_highlights;add_highlight_with_current_type h

# vim:ft=conf
